*.zip filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
.well-known.zip filter=lfs diff=lfs merge=lfs -text
css.zip filter=lfs diff=lfs merge=lfs -text
view-package-Cochin.zip filter=lfs diff=lfs merge=lfs -text
